@mixin radial-gradient($from, $to) {
    background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
    background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: radial-gradient(center, circle cover, $from 0%, $to 100%);
    background-color: $from;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

a {
    color: #607D8B;
    text-decoration: none;
    &:hover {
        color: #333;
    }
}

.as_link {
    color: #424242;
}


.col {
    width: 20px;
}
.row {
    padding: 2px;
}

.canvas-wrapper {
    width: 650px;
    height: 500px;
    overflow-y: auto;
    position: relative;
    display: none;
    canvas {
        -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.49);
        -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.49);
        box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.49);
    }
}
.mask {
   position: absolute;
   display: block;
   border: 10px solid #607D8B;
   margin: 10px;
   background-color: #dbdbdb;
   opacity: 0.5;
   font-size: 20px;
   &:hover {
       background-color: #B9B9B9;
   }
   &:before {
       border: 1px solid #000;
       content: "";
       position: absolute;
       top: -10px;
       bottom: -10px;
       left: -10px;
       right: -10px;
   }
}

.mask h3 {
    height: 100%;
    margin: 0 auto;
    color: black;
    text-align: center;
}
.mask h3::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.radial {
    /* @include radial-gradient(#555A5F, #000); */
    /* @include radial-gradient(#eee, rgba(47, 39, 39, 0.48)); */
    @include radial-gradient(#F3F4F5, rgba(47, 39, 39, 0.48));
    width: 100%;
    height: 100%;
    position: absolute;
}

.op {
    text-decoration: none;
    color: #444;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
}
.upload-msg {
    position: absolute;
    z-index: 1;
    h1 {
        font-size: 30px;
        text-align: center;
    }
    @include centerer;
}

.explanation-pdf-page {
    display: inline-block;
    @include centerer;
}

.explanation-vis {
    text-align: center;
    margin-top: 5px;
}

.explanation-vis-step {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 67px;
    text-align: center;
}

.explanation {
    margin: 15px;
    text-align: justify;
    table {
        border: 1px solid gray;
    }
    td {
        padding: 0;
        margin: 0;
        width: 10px;
        height: 10px;
        border: 1px solid #607D8B;
        background-color: #607D8B;
    }
}

.action-txt {
    text-align: center;
}

.upload-target {
    width: 600px;
    background: white;
    cursor: pointer;
    border: 10px solid #607D8B;
    padding: 10px 0;
}
.drop-zone {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    z-index: 0;
    canvas {
        border: 1px solid lightgray;
    }
}
.preview {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 2;
    @include centerer;
}

.content .dz-preview {
    position: relative;
    display: inline-block;
    width: 600px;               /*todo*/
    vertical-align: top;
    min-height: 30px;

    .dz-progress {
        display: block;
        border: 1px solid #aaa;
        height: 15px;

        opacity: 1;
        z-index: 1000;
        pointer-events: none;
        position: absolute;
        width: 100%;
        background: rgba(255,255,255,0.9);
        -webkit-transform: scale(1);
        border-radius: 8px;
        overflow: hidden;

        .dz-upload {
        /*     background: #333; */
        /*     background: linear-gradient(to bottom, #666, #444); */
        /*     position: absolute; */
        /*     top: 0; */
        /*     left: 0; */
        /*     bottom: 0; */
        /*     width: 0; */
            -webkit-transition: width 300ms ease-in-out;
            -moz-transition: width 300ms ease-in-out;
            -ms-transition: width 300ms ease-in-out;
            -o-transition: width 300ms ease-in-out;
            transition: width 300ms ease-in-out;
        }

        .dz-upload {
            display: block;
            height: 100%;
            width: 0;
            background: green;
        }
    }

    .dz-image, .dz-success-mark, .dz-error-mark {
        display: none;
    }
}

body {
    margin: 0;
    overflow: hidden;
    color: #555;
    @include font-smoothing();
}
